@model IEnumerable<ProductVM>

@{
    ViewBag.PageTitle = "إدارة المنتاجات";
    ViewBag.CardTitle = "كل المنتاجات";
}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive-cards">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>الاسم</th>
                                <th>الوصف</th>
                                <th>التصنيف</th>
                                <th>سعر البيع</th>
                                <th>سعر التكلفة </th>
                                <th>الوحدة </th>
                                <th>الإضافة بواسطة </th>
                                <th>وقت التعديل </th>
                                <th>التعديل بواسطة </th>
                                    <th>الاجراءات  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td data-label ="الاسم">
                                        @item.Product.Name
                                    </td>
                                    <td data-label="الوصف">
                                        @item.Product.Description
                                    </td>
                                    <td data-label="التصنيف">
                                        @item.CategorybyName
                                    </td>
                                    <td data-label="سعر البيع">
                                        @item.Product.SellingPrice
                                    </td>
                                    <td data-label="سعر التكلفة">
                                        @item.Product.CostPrice
                                    </td>
                                    <td data-label="الوحدة">
                                        @item.UnitByName
                                    </td>
                                    <td data-label="الإضافة بواسطة">
                                        @item.CreatedByName
                                    </td>
                                    <td data-label="وقت التعديل">
                                        @item.Product.ModifiedAt
                                    </td>
                                    <td data-label="التعديل بواسطة">
                                        @item.ModifiedByName
                                    </td>
                                        <td data-label="الاجراءات">
                                        <a asp-action="Update" asp-controller="Product" asp-route-id="@item.Product.Id" class="btn btn-warning"><i class="nav-icon 	fas fa-edit"> تعديل</i></a>
                                    </td>

                                </tr>


                            }
                        </tbody>

                    </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts {
    <script>
        $('#example1').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/ar.json"
            },
        });
    </script>
}