@model IEnumerable<CategoryVM>

@{
    ViewBag.PageTitle = "إدارة الأصناف";
    ViewBag.CardTitle = "كل الأصناف";
}
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive-cards">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>الصنف</th>
                                <th>الوصف</th>
                                <th>وقت الإضافة </th>
                                <th>الإضافة بواسطة </th>
                                <th>وقت التعديل </th>
                                <th>التعديل بواسطة </th>
                                    <th>الاجراءات  </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                        <td data-label ="الاسم">
                                        @item.Category.Name
                                    </td>
                                        <td data-label="الوصف">
                                        @item.Category.Description
                                    </td>
                                        <td data-label="وقت الإضافة">
                                        @item.Category.CreatedAt
                                    </td>
                                        <td data-label="الإضافة بواسطة">
                                        @item.CreatedByName
                                    </td>
                                        <td data-label="وقت التعديل">
                                        @item.Category.ModifiedAt
                                    </td>
                                        <td data-label="التعديل بواسطة">
                                        @item.CreatedByName
                                    </td>
                                        <td data-label="الاجراءات">
                                        
                                        <a asp-action="Update" asp-controller="Category" asp-route-id="@item.Category.Id" class="btn btn-warning"><i class="nav-icon 	fas fa-edit"></i></a>
                                        <a asp-action="Delete" asp-controller="Category" asp-route-id="@item.Category.Id" class="btn btn-danger"><i class="nav-icon 	fas fa-trash"></i></a>
                                    </td>

                                </tr>


                            }
                        </tbody>

                    </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts {
    <script>
        $('#example1').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/ar.json"
            },
        });
    </script>
}