
@model StockMovementReportVM
@{
    ViewBag.PageTitle = "تحركات المخازن";
    ViewBag.CardTitle = "فلتره ";
}

<div class="container mt-3">
    <form asp-action="index" method="get">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label asp-for="@Model.ActionType" class="form-label fw-bold">نوع العملية</label>
                <select id="@Model.ActionType" asp-for="@Model.ActionType" class="custom-select" asp-items="@Model.ActionTypeList">
                    <option disabled selected>-- اختر العملية --</option>
                </select>
                <span asp-validation-for="@Model.ActionType" class="text-danger"></span>
            </div>

            <div class="col-md-4 mb-3">
                <label asp-for="ProductId" class="form-label fw-bold"> المنتج</label>
                <select id="ProductId" asp-for="ProductId" class="custom-select" asp-items="@Model.productList">
                    <option disabled selected>-- اختر المنتج --</option>
                </select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
                <div class="col-md-4 mb-3">
                <label asp-for="@Model.WarehouseId" class="form-label fw-bold"> المخزن</label>
                <select id="@Model.WarehouseId" asp-for="@Model.WarehouseId" class="custom-select" asp-items="@Model.WarehouseList">
                            <option disabled selected>-- اختر المخزن --</option>
                        </select>
                <span asp-validation-for="@Model.WarehouseId" class="text-danger"></span>
                </div>
        </div>

        <div class="row">
               <div class="col-md-4 mb-3">
                <label asp-for="@Model.StartDate" class="form-label fw-bold">تاريخ بداية التقرير</label>
                <input asp-for="@Model.StartDate" class="form-control" type="datetime-local" value="@DateTime.Now.AddDays(-30).ToString("yyyy-MM-ddTHH:mm")" onclick="this.showPicker()" onkeydown="return false" />
                <span asp-validation-for="@Model.StartDate" class="text-danger"></span>
               </div>
                <div class="col-md-4 mb-3">
                <label asp-for="@Model.EndDate" class="form-label fw-bold">تاريخ نهاية التقرير</label>
                <input asp-for="@Model.EndDate" class="form-control" type="datetime-local" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" onclick="this.showPicker()" onkeydown="return false" />
                <span asp-validation-for="@Model.EndDate" class="text-danger"></span>
               </div>
                <div class="col-md-4 mb-3 align-content-end">
                      <button type="submit" class="btn btn-custom w-100">
                          <i class="fas fa-filter"></i> تطبيق
                      </button>
                </div>
        </div>
    </form>
 </div>
    <section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body">
                    <div class="table-responsive-cards">
                    <table id="example1" class="table table-bordered table-striped ">
                        <thead>
                            <tr>
                                <th>التاريخ</th>
                                <th>الاسم</th>
                                <th>التكلفة</th>
                                <th>الوحدة</th>
                                <th>الكمية</th>
                                <th>خارج/داخل </th>
                                <th>نوع العملية </th>
                                <th>المخزن </th>
                                <th>رصيد المخزن بعد </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.MovementsList)
                            {
                                <tr>
                                    <td data-label ="التاريخ">
                                       @item.CreateAt
                                    </td>
                                    <td data-label="الاسم">
                                       @item.Product.Name
                                    </td>
                                    <td data-label="التكلفة">
                                        @item.CostPrice
                                    </td>
                                    <td data-label="الوحدة">
                                        @item.Unit.Name
                                    </td>
                                    <td data-label="الكمية">
                                        @item.Quantity
                                    </td>
                                    <td data-label="خارج/داخل">
                                        @item.InOut
                                    </td>
                                    <td data-label="نوع العملية">
                                        @item.ActionType
                                    </td>
                                    <td data-label="المخزن">
                                         @item.Warehouse.Name
                                    </td>
                                    <td data-label="رصيد المخزن بعد">
                                          @item.BalanceAfter
                                    </td>

                                </tr>


                            }
                        </tbody>

                    </table>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts {
    <script>
        $('#example1').DataTable({
            paging: true,
            lengthChange: true,
            searching: true,
            ordering: true,
            info: true,
            autoWidth: false,
            language: {
                url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/ar.json"
            },
        });
    </script>
}



